
@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

.section-heading {
  position: relative;
  z-index: 2;
}

.section-heading h4 {
  color: #2a2a2a;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.section-heading h4 em {
  font-style: normal;
  color: #4b8ef1;
}


.main-banner {
 padding: 350px 200px 170px 120px;
  overflow: hidden;
  z-index: -10;
}

.main-banner{
  content: '';
  background-image: url(../../images/home/slider-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  
}

.main-banner .left-content {
  margin-right: 15px;
}

.main-banner .left-content h2 {
  z-index: 2;
  position: relative;
  font-weight: 700;
  line-height: 70px;
  font-size: 55px;
  margin-bottom: 20px;
  color: white;
}

.main-banner .left-content p {
  margin-bottom: 45px;
  color: #2a2a2a;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.services{
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.cont1{
padding-top: 100px;
}

.serviceheading{
  font-size: 40px;
    color: #E94560;
    padding: 20px;

}

.servicepara{
  font-size: 18px;
  padding-bottom: 60px;
}


.servicecontainer{
  align-items: center;
  justify-content: center;
}

.cont2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: px;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.itemcard{
  padding: 50px;
  
}

.itemservice{
  text-decoration: none;
  
}
.servicelogo:hover{
  transform: rotate(33deg) scale(1.1);
}


.service-item {

  position: relative;
  z-index: 1;
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #fff;
  border-radius: 10px;
  border-top-right-radius: 50px;
  transition: all .3s;
}

.servicelogo{
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
  transition: all .5s;
  
}




.service-item h4 {
  transition: all .3s;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.service-item p {
  transition: all .3s;
  font-size: 15px;
  margin-bottom: 20px;
}

.servicelogo:hover{
  transform: rotate(33deg) scale(1.1);
}



.service-item:hover h4,
.service-item:hover p,
.service-item:hover .text-button a
{
  color: #fff;
}


.service-item:hover
{
  background-image: url(../../images/home/service-bg.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  
}



.footer {

  background-image: url(../../images/home/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 600px;
  margin-top: 40px;
  padding-top: 300px;
  padding-bottom: 60px;
}



footer .infoheading {
  margin-bottom: 35px;
}

footer .infoheading h2 {
  line-height: 45px;
  color: #fff;
  margin-left: 13%;
  margin-right: 13%;
  text-align: center;
}

.contactdiv{
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.contactme{
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.bn54 {
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 50px;
  width: 200px;
  opacity: 1;
  background-image: url(../../images/home/footer-bg.png);
  background-position:center ;
  background-size: auto;
  background-repeat:no-repeat;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.bn54 .bn54span {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.bn54:hover {
  animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.myinfo{
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: 200;
  padding-top: 130px;
}