body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 .emaildiv{
  background: url('../images/addproduct-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;

 }

  .content{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px;

  }

  .formemail{
    position: relative;
   align-items: center;
   justify-content: center;
  }

/* From uiverse.io by @mrhyddenn */
.form__group {
  padding: 20px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 60vw;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color:#9b9b9b;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #e92c4c, #ff008c);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.learnmore {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 .emailsubmit {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.emailsubmit:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.emailsubmit:active {
  transform: translateY(-1px);
}

.emailbutton{
  padding-top: 30px;
}

.container123456{
  align-items: center;
  justify-content: center;
  padding: 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 20px;
  text-align: center;
  width: 70vw;
  margin-top:80px;
  margin-left: 150px;
}

.emailheading{
  text-align: center;

}

.emailheading h2{
  color:#e92c4c;
}

.emailcontents{
  text-align: center;
  align-items: center;
  justify-content: center;
}
