
.productlogo{
    width: 230px;
    padding-left: 50px;
}

.nav{
    position:fixed;
    width: 100vw;
    z-index: 1000;
}

.navbar{
    
    background-color: white;
    color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
}

ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover{
    color: #E94560;

}

i{
  padding-right: 50px;
  color: black;
}

i:hover{
    color: #E94560;
}




