
.logo{
    width: 230px;
    height: 65px;
    padding-left: 50px;
    
    
}

.menu a {
    color: #777;
    text-decoration: none;
}

  /* - link under - */
  
  .link-arrow:after {
    content: '';
    background-size: 100% 100%;
    width: 16px;
    height: 12px;
    position: absolute;
    top: 5px;
    right: -28px;
    -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
    transition: all .4s cubic-bezier(.35, 1, .33, 1)
  }
  
  .link-arrow:hover:after {
    right: -35px
  }
  
  .link-arrow.link-arrow-white:after {
    background-size: 100% 100%
  }
  
  .link-arrow-hover:after {
    right: -35px
  }
  
  .link {
    display: inline-block;
    position: relative;
    border: none;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-family: Montserrat, helvetica, arial, sans-serif;
    font-weight: 700
  }
  
  .link:active,
  .link:focus,
  .link:hover {
    outline: 0
  }
  
  .link:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    width: 0;
    height: 2px;
    -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
    transition: all .4s cubic-bezier(.35, 1, .33, 1)
  }
  
  .link:hover {
    color: #000
  }
  
  .link:hover:before {
    width: 100%
  }
  
  .link-theme:before {
    background: #E92C4C
  }

  @media only screen and (min-width:250px) {
   
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
    }
}
    
  @media only screen and (min-width:768px) {
   
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 28px;
    }
  
  }
  
  @media only screen and (min-width:992px) {
   
    h1 {
      font-size: 45px;
    }
    h2 {
      font-size: 28px;
    }
  
  }
  
  @media only screen and (min-width:1200px) {
    
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 30px;
    }
  
  }
  
  /* header   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
  
  .header {
    background-color: #fff;
    position: fixed;
    width: 100vw;
    z-index: 100;
    padding: 5px;
    padding-left: 80px;
    padding-right:80px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;

  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px 4px 20px;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #fff;
  }
  
 
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 290px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* section */
  
  .section {
    overflow: hidden;
    margin: auto;
    max-width: 1400px;
  }
  
  .section a {
    position: relative;
    float: left;
    width: 100%;
  }
  
  .section a img {
    width: 100%;
    display: block;
  }
  
  .section a span {
    color: #fff;
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-size: 2em;
    text-shadow: 1px 1px 0 #000;
  }
  
  .section-split a span {
    display: none;
  }
  
  .section-split a:hover span {
    display: block;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 875px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 0px 0px 0px;
      margin-left: 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .section-split a {
      width: 50%;
    }
  }
  

  .navbutton{
    background: transparent;
    padding-left: 20px;
    padding-top: 25px;
    font-family: Montserrat, helvetica, arial, sans-serif;
    font-weight: 700;
    color: #777;
    font-size: 16px;
  }
  
  

/* .nav{
    position:fixed;
    width: 100vw;
    z-index: 1000;
}

.navbar{
    
    background-color: white;
    color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
} 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
}

ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover{
    color: #E94560;

}

i{
  padding-right: 50px;
  color: black;
}

i:hover{
    color: #E94560;
} */




